
/*estilização do fundo da página*/
        body {
            background: linear-gradient(to left, rgb(42, 163, 255), rgb(0, 0, 0));
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }


        .textoprinc {
            font-size: 200%;
            color: white;
            margin-top: 30px;
        }

        .textoprinc2 {
            font-size: 200%;
            color: white;
            margin-top: 8px;
        }

        .bemvindo {
            font-size: 150%;
            margin-top: 105px;
            color: white;
        }


/*estilização do formulário de login*/
        .login {
            font-size: 120%;
            margin-top: 20px;
            color: white;
        }


        .form {
            background: #fff;
            max-width: 360px;
            width: 70%;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
            border-radius: 10px;
            margin-right: 20px;
        }


/*estilização do formulário de login no tema escuro */
        body.dark .form {
            background-color: rgb(17, 17, 17);
        }

        body.dark .login-form {
            color: white;
        }

/*estilização do botão do formulário de login*/
        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 1px solid #ccc;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            border-radius: 5px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #3431df;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            transition: all 0.3s ease;
            cursor: pointer;
        }


/*estilização do botão do formulário de login no tema escuro*/
        body.dark .form button {
            background: rgb(13, 5, 151)
        }



        body.dark .form button:hover {
            background: rgb(102, 94, 255)
        }

        .form button:hover {
            background: #0f3053;
        }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

        .form .message a {
            color: rgb(57, 129, 230);
            text-decoration: none;
        }

        .form .register-form {
            display: none;
        }


/*estilização do formulário*/
        .login-page {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            flex-direction: row;
            float: right;
        }






/*estilização do botão de troca de tema*/
        #themeToggle {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            margin-top: 20px;
        }

        #themeIcon {
            width: 50px;
            height: 50px;
            transition: transform 0.3s ease;
            position: absolute;
            top: 2%;
            left: 92%;
        }

